.game {
    display: grid;
    /* grid-template-rows: repeat(3, auto); */
    grid-template-columns: repeat(3, auto);
    justify-content: center ;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    color: red;
}